name: voice-verifier Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ "3.8", "3.9", "3.10" , "3.11"]   

    env:
      TORCHAUDIO_AVOID_AUDIO_BACKEND: "1"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package + test deps
        run: |
          python -m pip install --upgrade pip
          pip install -e .[test]
          pip install pytest-cov

      - name: Run tests with coverage
        run: |
          pytest --cov=vocalid --cov-report=xml -q

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.python-version }}
          path: .coverage.xml
